# Bike Stats

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

## Read CSV File

In [11]:
df_st = pd.read_csv('data/station.csv')
df_we = pd.read_csv('data/weather.csv')
df_tr = pd.read_csv('data/trip.csv' , error_bad_lines = False )
df_st.head(5)

b'Skipping line 50794: expected 12 fields, saw 20\n'

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

In [ ]:
df_we.head(5)

In [13]:
df_tr.head(5)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

## What is the average trip duration for a borrowed bicycle ?

In [14]:
average_trip = df_tr ['tripduration'].mean()
average_trip

1178.2956753399776

## What’s the most common age of a bicycle-sharer ?

In [28]:
average_sharer = df_tr ['birthyear'].mean()
2014 - average_sharer

34.240937907938815

## Given all the weather data here, find the average precipitation per month, and the median precipitation ?

In [ ]:
partic = df_we.groupby(pd.PeriodIndex(df_we['Date'], freq="M"))['Precipitation_In'].mean()
partic

## What’s the average number of bikes at a given bike station ?

In [31]:
average_bikes = df_st['install_dockcount'].mean()
average_bikes

17.586206896551722

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know ?

In [ ]:
bikes =  df_st [ ['install_dockcount','current_dockcount'] ]
bikes.tail(1)

## Extra 3 Question :
## A. How many rainy trips we have ?

In [46]:
weather_rain = df_we [df_we['Events'] == 'Rain'].shape[0]
weather_rain

287

## B. number of male bike sharers ?

In [47]:
trip_male = df_tr [df_tr ['gender'] == 'Male'].shape[0]
trip_male

140564

## C. highest installed docks in a station ?

In [51]:
station = df_st ['install_dockcount']
station.sort_values( ascending = False )
df_st.iloc[20]

station_id                            CH-15
name                 12th Ave & E Mercer St
lat                               47.624142
long                            -122.316811
install_date                     10/13/2014
install_dockcount                        16
modification_date                       NaN
current_dockcount                        16
decommission_date                       NaN
Name: 20, dtype: object